h1{
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    width: 250px;
    height: 50px;
    background: black;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

