.button-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 400px;
    height:300px;
    border: 3px solid magenta;
}
.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    background: white;
    font-size: 30px;
    border: 2px solid black;  
}
.big-button:hover {
    background: lightgray;
    font-weight: bold;
    cursor: pointer;
}
.small-button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 50px;
    width: 50px;
    height: 50px;
    background: white;
    font-size: 30px;
    border: 2px solid black
}
.small-button:hover {
    font-size:35px;
    font-weight: bold;
}
.red {
    background: red;
}

