.footerIcons {
    display: flex;
    margin: 5px 0 0 100px;
    width: 600px;
    /* border: 5px solid yellow; */
  }
  .footerIcons a { 
    padding: 15px;
    color: lightgray;
    width: 75px;
    cursor: pointer;
    /* border: 3px solid darkred; */
  }
  .footerIcons a:hover {
    color:darkgray;
  }
  
  